.loadingText {
    -fx-fill: rgba(69, 78, 84, 1.0);
    -fx-font-size: 24px;
}
.progress-bar .track {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 0;
    -fx-border-color: #fbc6b6;
    -fx-border-width: 1px;
}
.progress-bar .bar {
    -fx-background-color: rgb(243, 86, 38);
}


#titleText1 {
    -fx-fill: rgb(243, 86, 38);
    -fx-font-size: 24px;
    -fx-spacing: 20px;
}
#titleText2 {
    -fx-fill: rgb(69, 78, 84);
    -fx-font-size: 24px;
}